#whatsapp_button_wrapper {
  position: fixed;
  width: 5rem;
  aspect-ratio: 1;
  bottom: 2rem;
  right: 2rem;
  -webkit-filter: drop-shadow(3px 3px 3px rgba(60, 60, 60, 0.2));
          filter: drop-shadow(3px 3px 3px rgba(60, 60, 60, 0.2));
}
#whatsapp_button_wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}